//かっこいいテキストリンク
a.a-text {
  position: relative;
  display: inline-block;
  transition: .3s;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background-color: $color-brand;
    transition: .3s;
  }
  &:hover::after {
    width: 100%;
  }
}