ul.list {
  & > li {
    list-style: square outside;
    margin-left: 1.5em;
  }
}

ol.list {
  & > li {
    list-style: decimal outside;
    margin-left: 1.5em;
  }
}

[class*="list-"] {
  &[class*="base"] > li {
    list-style: square outside;
    margin-left: 1.5em;
  }
  &[class*="num"] > li {
    list-style: decimal outside;
    margin-left: 1.5em;
  }
  &[class*="line"] > li {
    padding-left: $margin-inner;
    border-left: solid 4px $color-brand;
    margin: $margin-inner/2 0;
    &:last-child,
    &:first-child {
      margin: 0;
    }
  }
} //list