//remベース
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%; //スマフォ縦横切替時設定
}

body {
  font-size: 1.6rem;
  @include gothic;
}

//画像関連
#maim,
main,
header,
footer,
article,
section {
  display: block;
}

img.maxImg {
  max-width: 100%;
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  vertical-align: bottom; //画像下の空白削除
  height: auto;
}

//テキストリンク
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //タップ時のハイライト削除
  outline: none;
  color: $color-brand;
  text-decoration: none;
  font-weight: bold;
  @include touch-hover() {
    color: $color-brand-lighten;
  }
}

//文字選択
::-moz-selection,
::selection {
  background: $color-brand-darken;
  text-shadow: none;
}

//区切り
hr {
  clear: both;
  border: none;
  border-top: solid 1px darken($color-light, 7%);
  border-bottom: solid 1px darken(#fff, 1%);
  margin: 1em 0;
  @include max-screen($width-s) {
    margin: 1em 0;
    border: none;
  } //max-s
}

//文章
em,
p,
ul,
ol,
li,
dl,
dd,
dt,
blockquote,
td,
th {
  //font-size: 1.6rem;
  line-height: 1.7;
  color: $color-dark-lighten;
  margin: .5em 0;
  & strong,
  & b {
    font-weight: bold;
    color: $color-dark;
  }
  @include max-screen($width-s) {
    font-size: 1.4rem;
  }
}

blockquote {
  position: relative;
  padding: 1em;
  border-bottom: solid 1px $color-dark;
  &:before {
    @include icon-font("\f10d");
    display: block;
    font-size: 3rem;
    margin-bottom: -10px;
  }
}

blockquote small,
cite {
  color: $color-light-darken;
  font-style: normal;
}

blockquote p {
  margin-bottom: $bm/4;
}

small,
blockquote cite {
  font-size: 1.1rem;
  line-height: 1.5;
  color: $color-light-darken;
  margin: 0;
  li {
    margin: .2em 0 .2em;
  }
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

sub,
sup {
  font-size: 0.9rem;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

//code,
pre,
kbd,
samp {
  font-size: 90%;
}

pre {
  font-size: 90%;
  color: #444;
  padding: 0.85em;
  overflow: auto;
}

code {
  border-radius: 2px;
  display: inline-block;
  background: darken($color-light, 25%);
  color: $color-light;
  padding: 0 7px;
  margin-right: 2px;
  margin-left: 2px;
  line-height: 1.5;
  font-weight: normal !important;
  position: relative;
  top: -2px;
}

kbd {
  padding: 2px 6px 1px;
  line-height: 1;
  display: inline-block;
  border-radius: 0.3em;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px white inset;
  background-color: #fafafa;
  border-color: #ccc #ccc white;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444;
  font-weight: normal;
  white-space: nowrap;
}

figure {
  display: block;
  position: relative;
  figcaption {
    position: absolute;
    right: $bm;
    bottom: $bm;
    font-size: 1.2rem;
    text-align: right;
    font-weight: bold;
    padding: 0;
    color: #fff;
    text-shadow: 0px 0px 3px $color-dark;
  }
}