@charset "UTF-8";
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  height: 70px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

#pan {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1;
  width: 100%; }

#main {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  z-index: 0;
  min-height: 70vh; }

#article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (max-width: 768px) {
    #article {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

#conts {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  box-sizing: border-box; }
  body.single-page #conts,
  body.magazine-page #conts {
    max-width: 780px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    border: 1px solid #eee;
    padding: 0 24px; }
  body.list-page #conts {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%; }
  #conts,
  body.list-page #conts,
  body.single-page #conts,
  body.magazine-page #conts {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

body.magazine-page #side {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 270px;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  margin-left: 48px; }
  @media only screen and (max-width: 1024px) {
    body.magazine-page #side {
      margin-left: 16px; } }

body.list-page #side {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 300px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 300px;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin-right: 48px; }
  @media only screen and (max-width: 1024px) {
    body.list-page #side {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 270px;
          -ms-flex: 0 0 270px;
              flex: 0 0 270px;
      margin-right: 0; } }

@media only screen and (max-width: 768px) {
  #side {
    -webkit-box-ordinal-group: 5 !important;
    -webkit-order: 4 !important;
        -ms-flex-order: 4 !important;
            order: 4 !important;
    width: 100% !important;
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    margin: 0 !important; } }

@media only screen and (max-width: 768px) {
  #side,
  body.list-page #side,
  body.single-page #side,
  body.magazine-page #side {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; } }

#footer {
  z-index: 2; }

.Header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .Header-row {
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (min-width: 1026px) {
      .Header-row {
        max-width: 1304px;
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (max-width: 1024px) {
      .Header-row {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (max-width: 768px) {
      .Header-row {
        padding-left: 16px;
        padding-right: 16px; } }
    @media only screen and (max-width: 480px) {
      .Header-row {
        padding-left: 8px;
        padding-right: 8px; } }
    @media only screen and (max-width: 768px) {
      .Header-row {
        display: block; } }
  .Header-item {
    box-sizing: border-box; }

@media only screen and (max-width: 768px) {
  .headerGroup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.headerGroup-logo a {
  color: #333;
  font-size: 1.6rem;
  font-family: 'Libre Baskerville',"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", "YuMincho", "メイリオ","Meiryo","ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  -webkit-transition: color .5s;
  transition: color .5s; }
  .no-js .headerGroup-logo a:hover,
  .js.no-touchevents .headerGroup-logo a:hover,
  .js.touchevents .headerGroup-logo a.touch {
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #c8c8c8;
    text-decoration: none; }

.headerGroup-desc {
  display: none; }

.headerGroup-menu {
  display: none; }
  @media only screen and (max-width: 768px) {
    .headerGroup-menu {
      width: 55px;
      height: 55px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 55px;
          -ms-flex: 0 0 55px;
              flex: 0 0 55px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      font-weight: normal;
      color: #333;
      border: solid 1px #eee; }
      .headerGroup-menu span {
        display: none; }
      .headerGroup-menu::before {
        content: "";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
        font-size: 3rem; }
      .headerGroup-menu::after {
        content: "menu";
        font-size: 1.2rem; }
      .no-js .headerGroup-menu:hover,
      .js.no-touchevents .headerGroup-menu:hover,
      .js.touchevents .headerGroup-menu.touch {
        color: #333;
        cursor: pointer; }
      .headerGroup-menu.open {
        color: #ff3030; }
        .headerGroup-menu.open::before {
          content: "\f00d"; }
        .headerGroup-menu.open::after {
          content: "close"; }
        .no-js .headerGroup-menu.open:hover,
        .js.no-touchevents .headerGroup-menu.open:hover,
        .js.touchevents .headerGroup-menu.open.touch {
          color: #ff7c7c; } }

.gNav {
  margin-left: auto; }
  @media only screen and (max-width: 768px) {
    .gNav {
      margin-left: 0;
      position: fixed;
      left: 500px;
      right: 0;
      text-outline: 0;
      top: 70px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      opacity: 0;
      -webkit-transition: all .5s;
      transition: all .5s; }
      .gNav.open {
        -webkit-transition: all .5s;
        transition: all .5s;
        opacity: 1;
        left: 0;
        right: 0; } }
  .gNav-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 768px) {
      .gNav-row {
        display: block;
        margin: 0; } }
  .gNav-item {
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0; }
    @media only screen and (max-width: 768px) {
      .gNav-item {
        border-top: solid 1px #eee;
        padding: 0; } }
    .gNav-item a {
      box-sizing: border-box;
      font-size: 1.4rem;
      font-weight: normal;
      color: #333;
      padding: 4px 8px;
      border-bottom: solid 1px #fff; }
      .no-js .gNav-item a:hover,
      .js.no-touchevents .gNav-item a:hover,
      .js.touchevents .gNav-item a.touch {
        color: #ff7c7c;
        border-bottom: solid 1px #ff7c7c; }
      @media only screen and (max-width: 768px) {
        .gNav-item a {
          height: 45px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%;
          padding: 0 16px;
          margin: 0;
          background-color: #fff; }
          .gNav-item a::after {
            content: "";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-left: auto; } }
    .gNav-item.readme {
      border-left: solid 1px #eee; }
      @media only screen and (max-width: 768px) {
        .gNav-item.readme {
          border-left: none;
          padding: 16px; } }
      .gNav-item.readme a {
        background-color: #ff7c7c;
        border-radius: 15px;
        padding: 4px 16px;
        color: #fff;
        border: solid 1px #ff7c7c; }
        .gNav-item.readme a::before {
          content: "";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: 4px; }
        .no-js .gNav-item.readme a:hover,
        .js.no-touchevents .gNav-item.readme a:hover,
        .js.touchevents .gNav-item.readme a.touch {
          background-color: #fff;
          color: #ff7c7c; }
        @media only screen and (max-width: 768px) {
          .gNav-item.readme a {
            border-radius: 23px;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center; }
            .gNav-item.readme a::after {
              content: none; } }
