//--------------------自作mixin

@mixin media-mixin {
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

//背景画像
@mixin img($imgURL, $extension:png, $repeat:repeat) {
    $img-path:"#{$imgURL}.#{$extension}";
  $img-path2x:"#{$imgURL}@2x.#{$extension}";
  $w: image-width($img-path);
  $h: image-height($img-path);
  background-image: image-url($img-path);
  background-repeat: $repeat;
  @include media-mixin {
    background-image: image-url($img-path2x);
    background-size: $w $h;
  }
}

//cover背景画像
@mixin cover-img($imgURL, $extension:png,$repeat:no-repeat) {
    $img-path:"#{$imgURL}.#{$extension}";
  $img-path2x:"#{$imgURL}@2x.#{$extension}";
  $w: image-width($img-path);
  $h: image-height($img-path);
  background-image: image-url($img-path);
  background-repeat: $repeat;
  background-size: cover;
  @include media-mixin{
    background-image: image-url($img-path2x);
  }
}

//画像置換
@mixin bg-img($imgURL, $extension:png,$repeat:no-repeat) {
  
  $img-path:"#{$imgURL}.#{$extension}";
  $img-path2x:"#{$imgURL}@2x.#{$extension}";
  $w: image-width($img-path);
  $h: image-height($img-path);
  
  @include hide-text();
  br {
    display: none;
  }
  display: block;
  background-image: image-url($img-path);
  width: $w;
  height: $h;
  background-repeat: no-repeat;
  @include media-mixin {
    background-image: image-url($img-path2x);
    background-size: $w $h;
  }
}

//---------------- touch-hover
@mixin touch-hover() {
  .no-js &:hover,
  .js.no-touchevents &:hover,
  .js.touchevents &.touch {
    @content;
  }
}

//-----------------ずるいシリーズ
//ずるいグラデーション 上部明るい
@mixin gradient-top-lighten($color:#666, $lighten:10%) {
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}

//ずるいグラデーション上部くらい
@mixin gradient-top-darken($color:#666, $darken:10%) {
  background-color: $color;
  @include filter-gradient(darken($color, $darken), $color, vertical);
  @include background-image(linear-gradient(darken($color, $darken) 0%, $color 100%));
}

//-----------------よく使うもの
@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}