@mixin wrap {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @include min-screen($width-l + 1px) {
    max-width: $width-xl + $margin-inner;
    padding-left: $margin-inner;
    padding-right: $margin-inner;
  }
  @include max-screen($width-l) {
    padding-left: $bm*2;
    padding-right: $bm*2;
  }
  @include max-screen($width-m) {
    padding-left: $bm;
    padding-right: $bm;
  }
  @include max-screen($width-s) {}
}

//--------------------ベースマージンの設定

$bm: 8px; //ベースマージンサイズ 8pxは扱いやすい
$margin: $bm*6; //ブロック間の大きいマージン 通常48px
$margin-inner: $bm*3; //ブロック内で使うマージン 通常24px


//--------------------横幅の設定
$width-xs: 320px; //iphone5
$width-s: 480px; //LG G3など、5.5incタイプの大型スマートフォン
$width-m: 768px; //ipad縦
$width-l: 1024px; //ipad横
$width-xl: 1280px; //MackBook 12/Pro 13/Surface2/3/Pro/Nexus10

//--------------------色設定
//暗い色
$color-dark: #333;
$color-dark-darken: darken($color-dark, 5%);
$color-dark-lighten: lighten($color-dark, 15%);

//明るい色
$color-light: #eee;
$color-light-darken: darken($color-light, 15%);
$color-light-lighten: lighten($color-light, 5%);

//フォントカラー
$color-text: #727578;
$color-text-darken: darken($color-text, 5%);
$color-text-lighten: lighten($color-text, 15%);

//強調カラー
$color-strong: #fffc00;
$color-strong-darken: darken($color-strong, 5%);
$color-strong-lighten: lighten($color-strong, 15%);

//ブランドカラー
$color-brand: #ff7c7c;
$color-brand-darken: darken($color-brand, 15%);
$color-brand-lighten: lighten($color-brand, 15%);

//ポイントカラー
$color-point: #C42316;
$color-point-darken: darken($color-point, 15%);
$color-point-lighten: lighten($color-point, 15%);

//エラーメッセージ
$color-info:#00529B;
$color-info-lighten:#bde5f8;
$color-success:#4F8A10;
$color-success-lighten:#DFF2BF;
$color-warning: #9F6000;
$color-warning-lighten: #FEEFB3;
$color-error:#D8000C;
$color-error-lighten:#FFBABA;

//snsカラー
$color-line: #1dcd00;
$color-facebook: #3B5998;
$color-twitter: #55acee;

//--------------------compass 設定
//box-shadow
$default-box-shadow-color: #afafaf;
$default-box-shadow-blur: 3px;