#main-v {

}

#contents {
  animation: identifier 1s;
  @keyframes identifier {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }
}

.main-v-hgroup {
  text-align: center;
  padding: $margin 0;
}

.main-v-logo {
  margin-bottom: $margin-inner;
  a {
    @include mincho;
    font-size: 3rem;
    color: $color-light-lighten;
    @include touch-hover() {
      transition: color .5s;
      color: $color-light;
      text-decoration: none;
    }
  }
}

.main-v-nav {
  @include mincho;
  a {
    color: $color-light-lighten;
    display: block;
    box-sizing: border-box;
    padding: $bm $bm/2;
    transition: all .3s;
    border-bottom: solid $bm/2 rgba(0, 0, 0, 0);
    @include touch-hover() {
      transition: all .5s;
      color: $color-light;
      text-decoration: none;
      border-bottom: solid $bm/2 #fff;
    }
    &.home {
        animation: header-nav-color-fade 1s;
        border-bottom: solid $bm/2 $color-light-lighten;
      }
  }
}

.main-v-gnav {
  display: flex;
  align-items: center;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  li {
    flex: 1 1 auto;
    text-align: center;
  }
}

.main-v-hnav {
  position: absolute;
  right: $bm;
  top: $bm;
  a.readme {
    &::before {
      @include icon-font("\f06e");
      margin-right: $bm;
    }
  }
}

.main-v-menu{
  display: none;
}

.links {
  //width: 100%;
  display: flex;
  margin: 1em -1em;
  li {
    flex: 1 0 25%;
    margin: 1em;
  }
  @include max-screen($width-m) {
    flex-direction: column;
    li{flex: 1 0 auto;}
    }
  a {
    display: block;
    box-sizing: border-box;
    animation: hover-out .3s;
    @include touch-hover(){
      animation: hover-up .3s;
      transform: translateY(-10px);
      figure{
        @include box-shadow();
      }
    }
  }
  
  @keyframes hover-up {
    from { 
      transform: translateY(0px);
    }
    to { 
      transform: translateY(-10px);
      figure{
         @include box-shadow();
      }
    }
  }
  
  @keyframes hover-out {
    from { 
      transform: translateY(-10px);
      figure{
         @include box-shadow();
      }
    }
    to { 
      transform: translateY(-0px);

    }
  }
  
  figure {
    margin: 0;
  }
  figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

