.home-main {
	height: image-height("home/main/bg-left.png");
	overflow: hidden;
	background-color: black;
	background-image: url("../img/home/main/bg-left.png"), url("../img/home/main/bg-right.png");
	background-position: top left, /* 最前面の背景レイヤーに対応 */
	top right;
	background-repeat: no-repeat;
	.pagetitle {
		margin: 70px auto $bm*4;
		@include bg-img(home/main/logo,
		png);
	}
	.description {
		margin: 0 auto $bm*6;
		@include bg-img(home/main/text-large,
		png);
		@include max-screen($width-s) {
			$width: image-width("home/main/text-large.png")*0.7;
			$height: image-height("home/main/text-large.png")*0.7;
			background-size: $width $height !important;
			width: $width;
		}
	}
	ul {
		text-align: center;
		padding: 0;
		margin: 0;
	}
	@each $class in goods,
	about {
		.#{$class} {
			@include inline-block();
			margin: 0 $bm*2;
			text-align: center;
			a {
				@include hang;
				&:hover {}
				&:after {
					@include icon-font("\f0ab");
					color: #fff;
					font-size: 16px;
				}
				span {
					@include bg-img(home/main/bt-#{$class},
					png);
					margin-bottom: $bm;
				}
			}
		}
	} //each
	.goods {
		position: relative;
		top: 8px;
		a span {
			position: relative;
			top: -4px;
		}
	}
}