body.howto {
	.row {
		.box {
			height: 300px;
			@include box-sizing(border-box);
			padding: $bm*2;
			@include min-screen($width-m + 1px) {
				@include column(4);
			}
			@include max-screen($width-m) {
				@include column(6);
				margin-bottom: $bm*3;
			}
			@include max-screen($width-s) {
				height: auto;
				@include column(12);
				margin-bottom: $bm*3;
			}
		}
	}
}