.main-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  background-color: #000;
  .main-ttl {
    animation: up 1s;
    font-size: 2.6rem;
    color: $color-brand-lighten;
    @include mincho;
    font-weight: normal;
    padding: 0;
    body.home & {
      padding: 0;
    }
  }
  @include max-screen($width-s) {
    height: 150px;
  }
}

#conts {
    animation: up 1s;
}

@keyframes up {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}