#pagetop{
  display: none;
}

#footer{
  margin-top: $margin*2;
  background-color: $color-light;

}

.footer-nav{

}

.footer-fnav{
  padding-top:$margin;
  padding-bottom: $margin;
  display: flex;
  align-items: center;
  justify-content: center;

    a{
      box-sizing: border-box;
      padding: $bm/2 $bm*2;
      &.readme{
        border-radius: 50px;
        border:solid 4px $color-brand-darken;
        background-color: $color-brand-darken;
        color:#fff;
        margin-left: $bm;
        &::before{
          @include icon-font("\f06e");
          margin-right: $bm/2;
        }
        @include touch-hover(){
          text-decoration: none;
          
        }
      }
    }//a

}

.footer-addr{
  display: block;
  text-align: center;
}

.footer-links{
  padding: $margin-inner 0;
  a{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: $color-dark;
    padding: $bm/2 $bm;
    color:#fff;
    font-weight: normal;
    font-size: 1.2rem;
    @include touch-hover(){
      text-decoration: none;
      background-color: $color-brand-darken;
    }
  }//a
}

.copyright {
  display: block;
  box-sizing: border-box;
  padding: $bm;
  text-align: center;
  color:$color-light;
  background-color: $color-dark;
}


