#gnav {
  padding-bottom: $bm;
  @each $class in home,units {
    body.#{$class} & ul li a.#{$class} {
      background-color: $color-brand-darken;
      color: #fff;
    }
  } //each
  
  @include min-screen($width-m) {
    .js-menu{
      display: none;
    }
    ul {
      @include display-flex;
      @include align-items(center);
      margin: 0 -$bm;
      li {
        @include flex(1);
        padding: 0 $bm;
        a {
          display: block;
          background:$color-dark-lighten;
          height: 45px;
          @include display-flex;
          @include align-items(center);
          @include justify-content(center);
          @include touch-hover() {
            background-color: $color-point;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    } //ul
  }
  
  @include max-screen($width-m - 1) {
    ul {
      li {
        a {
          @include box-sizing(border-box);
          @include display-flex;
          @include align-items(center);
          padding-left: $bm*3;
          height: 42px;
          border-bottom: solid 1px $color-brand-darken;
          @include touch-hover() {
            background-color: $color-point;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}