#header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $margin-inner;
  border-bottom: 1px solid $color-light;
  .header-hgroup {
    flex: 0 0 250px;
  }
  .header-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &.js-close {}
  }
  @include max-screen($width-m) {
    flex-direction: column;
    .header-hgroup {
      flex: 0 0 auto;
      margin-bottom: $margin-inner;
      display: flex;
      justify-content: center;
    }
    .header-nav {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
  .logo {
    a {
      box-sizing: border-box;
      @include touch-hover() {
        border-bottom: 1px solid $color-brand;
      }
    }
  }
  .description {
    display: none;
  }
  .gnav,
  .snav {
    display: flex;
    align-items: center;
    margin: 0 1em;
    li {
      margin: 0;
    }
    a {
      display: block;
      padding: 0 $bm;
      @include touch-hover() {}
    }
  }
  @each $class in home,
  units,
  markup,
  speed,
  responsive,
  readme {
    body.#{$class} & .#{$class} {
      background-color: $color-light;
    }
  } //each
  @include max-screen($width-m) {
    .snav,
    .menu {
      display: none;
    }
  }
  .menu {
    @include min-screen($width-m) {
      display: none;
    }
  }
}