.Header {
  display: flex;
  align-items: center;
  &-row {
    @include wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max-screen($width-m) {
      display: block;
    }
  }
  &-item {
    box-sizing: border-box;
  }
}

.headerGroup {
  @include max-screen($width-m) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.headerGroup-logo a {
  color: $color-dark;
  font-size: 1.6rem;
  @include mincho;
  transition: color .5s;
  @include touch-hover() {
    transition: color .5s;
    color: $color-light-darken;
    text-decoration: none;
  }
}

.headerGroup-desc {
  display: none;
}

.headerGroup-menu {
  display: none;
  @include max-screen($width-m) {
    width: 55px;
    height: 55px;
    flex: 0 0 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: normal;
    color: $color-dark;
    border: solid 1px $color-light;
    span {
      display: none;
    }
    &::before {
      @include icon-font("\f0c9");
      display: block;
      font-size: 3rem;
    }
    &::after {
      content: "menu";
      font-size: 1.2rem;
    }
    @include touch-hover() {
      color: $color-dark;
      cursor: pointer;
    }
    &.open {
      color: $color-brand-darken;
      &::before {
        content: "\f00d";
      }
      &::after {
        content: "close";
      }
      @include touch-hover() {
        color: $color-brand;
      }
    }
  }
}

.gNav {
  margin-left: auto;
  @include max-screen($width-m) {
    margin-left: 0;
    position: fixed;
    left: 500px;
    right: 0;
    text-outline: 0;
    top: 70px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    background-color: #fff;
    opacity: 0;
    transition: all .5s;
    &.open {
      transition: all .5s;
      opacity: 1;
      left: 0;
      right: 0;
    }
  }
  &-row {
    display: flex;
    align-items: center;
    @include max-screen($width-m) {
      display: block;
      margin: 0;
    }
  }
  &-item {
    box-sizing: border-box;
    padding: 0 $bm;
    margin: 0;
    @include max-screen($width-m) {
      border-top: solid 1px $color-light;
      padding: 0;
    }
    a {
      box-sizing: border-box;
      font-size: 1.4rem;
      font-weight: normal;
      color: $color-dark;
      padding: $bm/2 $bm;
      border-bottom: solid 1px #fff;
      @include touch-hover() {
        color: $color-brand;
        border-bottom: solid 1px $color-brand;
      }
      @include max-screen($width-m) {
        height: 45px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 $bm*2;
        margin: 0;
        background-color: #fff;
        &::after {
          @include icon-font();
          margin-left: auto;
        }
      }
    } //a
    &.readme {
      border-left: solid 1px $color-light;
      @include max-screen($width-m) {
        border-left: none;
        padding: $bm*2;
      }
      a {
        background-color: $color-brand;
        border-radius: 15px;
        padding: $bm/2 $bm*2;
        color: #fff;
        border: solid 1px $color-brand;
        &::before {
          @include icon-font("\f06e");
          margin-right: $bm/2;
        }
        @include touch-hover() {
          background-color: #fff;
          color: $color-brand;
        }
        @include max-screen($width-m) {
          border-radius: 23px;
          justify-content: center;
          &::after {
            content: none;
          }
        } //max
      } //a
    }
  } //item
}