//#all.menu-open{
#header {}

.header-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include wrap;
}

.header-logo {
  a {
    color: $color-dark;
    font-size: 1.6rem;
    @include mincho;
    transition: color .5s;
    @include touch-hover() {
      transition: color .5s;
      color: $color-light-darken;
      text-decoration: none;
    }
  }
}

.header-description {
  display: none;
}

.header-hnav,
.header-gnav {
  li {
    a {
      box-sizing: border-box;
      display: block;
      font-size: 1.4rem;
      font-weight: normal;
      @include touch-hover() {
        color: $color-light-darken;
        text-decoration: none;
      }
    }
  }
}

@include min-screen($width-m + 1px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-gnav {
    padding: 0 $bm;
  }
  .header-hnav {
    padding-left: $bm;
  }
  .header-hnav,
  .header-gnav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-left: solid 1px $color-light;
    li {
      box-sizing: border-box;
      padding: 0 $bm/2;
      a {
        padding: $bm;
        color: $color-dark;
        border-bottom: solid 2px rgba(0, 0, 0, 0);
        transition: all .5s;
        @each $class in home,
        markup,
        speed,
        responsive,
        units,
        readme {
          body.#{$class} &.#{$class} {
            border-color: $color-dark;
          }
        } //each
        @include touch-hover() {
          transition: all .5s;
          color: $color-light-darken;
          text-decoration: none;
          border-color: $color-light;
        }
        &.readme {
          color: $color-brand-darken;
          &::before {
            @include icon-font("\f06e");
            margin-right: $bm;
          }
          body.readme & {
            color: $color-brand-darken;
            border-color: $color-brand-darken;
          }
        }
      } //a
    }
  } //header-gnav,header-hnav
  .header-menu {
    display: none;
  }
}

@include max-screen($width-m) {

  .header-nav {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(100% - 70px);
    z-index: 2;
    background-color: $color-dark;
    height: 100vh;
  }
  .header-gnav {
    margin: 0;
    li {
      a {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $margin-inner;
        border-bottom: solid 1px $color-dark-lighten;
        color: $color-light;
        &::after {
          @include icon-font();
          margin-left: auto;
        }
      }
    } //li
  }
  .header-hnav {
    margin: $margin-inner;
    a.readme {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px $color-brand;
      border-radius: 30px;
      transition: all .5s;
      @include touch-hover() {
        transition: all .5s;
        color: $color-brand;
        background-color: #fff;
      }
    }
  }
  .header-gnav {}
  .header-menu {
    position: absolute;
    right: 0;
    width: 70px;
    height: 70px;
    transition: all .5s;
    display: block;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      font-weight: normal;
      color: $color-dark;
      span{
        display: none;
      }
      &::before {
        @include icon-font("\f0c9");
        display: block;
        font-size: 3rem;
      }
      &::after{
        content: "menu";
        font-size: 1.2rem;
      }
      @include touch-hover(){
        color:$color-dark;
        text-decoration: none;
      }
    }
    &.open-menu {
      a{
        color:$color-brand-darken;
        &::before{
          content: "\f00d";
        }
        &::after{
          content: "close";
        }
        @include touch-hover(){
          color:$color-brand;
        }
      }
    }
  }
}