$headerH: 70px;
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  height: $headerH;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  transform: translate3d(0, 0, 0);
}

#pan {
  position: absolute;
  top:$headerH;
  left: 0;
  z-index: 1;
  width: 100%;
}

#main {
  position: relative;
  box-sizing: border-box;
  padding-top: $headerH + 30px;
  z-index: 0;
  min-height: 70vh;
}

#article {
  display: flex;
  align-items: center;
  justify-content: center;
  body.list-page &,
  body.single-page &,
  body.magazine-page & {

  }
  @include max-screen($width-m) {
    flex-direction: column;
  }
}

#conts {
  width: 100%;
  flex: 0 0 100%;
  box-sizing: border-box;
  body.single-page &,
  body.magazine-page & {
    max-width: 780px;
    flex: 1 1 50%;
    border: 1px solid $color-light;
    padding: 0 $margin-inner;
  }
  body.list-page & {
    order: 2;
    flex: 1 0 50%;
  }
  &,
  body.list-page &,
  body.single-page &,
  body.magazine-page & {
    flex: 1 1 auto;
  }
}

#side {
  body.magazine-page & {
    flex: 0 0 270px;
    margin-left: $margin;
    @include max-screen($width-l) {
      margin-left: $bm*2;
    }
  }
  body.list-page & {
    order: 1;
    width: 300px;
    flex: 0 0 300px;
    margin-right: $margin;
    @include max-screen($width-l) {
      flex: 0 0 270px;
      margin-right: 0;
    }
  }
  @include max-screen($width-m) {
    order: 4!important;
    width: 100%!important;
    flex: 0 0 100% !important;
    margin: 0 !important;
  } //list-page
  @include max-screen($width-m) {
    &,
    body.list-page &,
    body.single-page &,
    body.magazine-page & {
      flex: 1 1 auto;
    }
  } //max
}

#footer {
  z-index: 2;
}
