

.wrap {
  @include wrap;
}

$headerH: 70px;
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  height: $headerH;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  transform: translate3d(0, 0, 0);
}

#pan {
  position: absolute;
  width: 100%;
  padding-top: $headerH;
  z-index: 1;
}

#main {
  position: relative;
  box-sizing: border-box;
  padding-top: $headerH + 40px;
  z-index: 0;
}

.main-head {
  //background-color:red;
}

#main-v {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba($color-brand, .97);
  height: 100vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  z-index: 1000;
  transform: translate(0, 0);
  @include img(home/main, png, no-repeat);
  background-position: center 40vh;
  animation: main-v-move 1s;
  @keyframes main-v-move {
    0% {
      transform: translate(0, -110vh);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

#container {
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  body.list-page &,
  body.single-page &,
  body.magazine-page & {
    @extend .wrap;
  }
  @include max-screen($width-m) {
    flex-direction: column;
  }
}

#conts {
  width: 100%;
  flex: 0 0 100%;
  box-sizing: border-box;
  body.single-page &,
  body.magazine-page & {
    max-width: 780px;
    flex: 1 1 50%;
    border: 1px solid $color-light;
    padding: 0 $margin-inner;
  }
  body.list-page & {
    order: 2;
    flex: 1 0 50%;
  }
  &,
  body.list-page &,
  body.single-page &,
  body.magazine-page & {
    flex: 1 1 auto;
  }
}

#side {
  body.magazine-page & {
    flex: 0 0 270px;
    margin-left: $margin;
    @include max-screen($width-l) {
      margin-left: $bm*2;
    }
  }
  body.list-page & {
    order: 1;
    width: 300px;
    flex: 0 0 300px;
    margin-right: $margin;
    @include max-screen($width-l) {
      flex: 0 0 270px;
      margin-right: 0;
    }
  }
  @include max-screen($width-m) {
    order: 4!important;
    width: 100%!important;
    flex: 0 0 100% !important;
    margin: 0 !important;
  } //list-page
  @include max-screen($width-m) {
    &,
    body.list-page &,
    body.single-page &,
    body.magazine-page & {
      flex: 1 1 auto;
    }
  } //max
}

#footer {
  z-index: 2;
}

#fnav {}

#pagetop {
  z-index: 3;
}