.pan-nav{
  padding-top: $bm;
  padding-bottom: $bm;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  li{
    margin-right: $bm;
    &::after{
      color:$color-light-darken;
      content: "-";
      margin-left: $bm;
    }
    &:last-child::after{
      content: none;
    };
  }
  a{
    color:$color-light-darken;
    font-weight: normal;
    @include touch-hover(){
    }
    &.pan-thispage{
      font-weight: bold;
      color:$color-brand;
    }
  }
}